<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Kaleidoscope</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
  </head>

  <body>

  <div class="contents content-box">
    <div class="header">
      <div class="title ft-32 ft-light">Picasa Kaleidoscope</div>
    </div>

    <div class="display-image bg-white">
      <img>
    </div>

    <div class="kaleiscope">
      <div class="img-canvas">
      </div>
    </div>

    <div class="masks">
      <img>
      <div class="full-view">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="mask3"></div>
      </div>
    </div>

  </div>

  <div class="work-area">
    <div class="canvas-elem"></div>
    <div class="trimmed-canvas">
      <canvas width="250" height="250"></canvas>
    </div>
    <div class="final-image">
      <canvas width="250" height="250"></canvas>
    </div>
  </div>

  <!-- require.js -->
  <script data-main="/scripts/main" src="../scripts/bower_components/requirejs/require.js"></script>
  </body>
</html>