<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Kaleidoscope</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>
  </head>

  <body>

  <div class="header">
    <div class="icon opac-60">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
    </div>
    <div class="title ft-50 ft-light ft-montez ft-darkgrey">kaleidoscope lens</div>
  </div>

  <div class="contents content-box">

    <div class="img-container horizontal-center">
      <div class="display-image bg-white">
        <img>
      </div>
    </div>

    <div class="scope-view horizontal-center">
      <div class="cover">
        <div class="kaleiscope absolute-center">
          <div class="img-canvas">
          </div>
        </div>
        <div class="kaleiscope-gradient absolute-center"></div>
      </div>
    </div>

    <div class="masks">
      <img>
      <div class="full-view">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="mask3"></div>
      </div>
    </div>

    <div class="action-tab">
      <input type="text" class="keywords" name="keywords" placeholder="Search for images of ..."/>
      <button class="search" value="Search">Search</button>
    </div>

  </div>

  <div class="work-area">
    <div class="canvas-elem"></div>
    <div class="trimmed-canvas">
      <canvas width="250" height="250"></canvas>
    </div>
    <div class="final-image">
      <canvas width="250" height="250"></canvas>
    </div>
  </div>

  <div class="footer ft-darkgrey">
    A work in progress for <a href=''>Google DevArt</a> - by Archana Sankaranarayanan
  </div>

  <!-- require.js -->
  <script data-main="/scripts/main" src="../scripts/bower_components/requirejs/require.js"></script>
  </body>
</html>
