@import "colors";
@import "fonts";
@import "mixins";
@import "reset";

$displayImageBorder: 15;
$imgSize: 500;
$displayImageSize: $displayImageBorder*2 + $imgSize;

body {
  background-color: black;
  color: $dimYellow;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;

  .header {
    position: absolute;
    left: 45px;
    width: 100%;
  }

  .contents {
    width: 500px;
    height: 1000px;
    margin: 25px auto;
  }

  .display-image {
    z-index: 10;
    width: $displayImageSize+px;
    height: $displayImageSize+px;
    top: 150px;
    overflow: hidden;

    img {
      width: $imgSize+px;
      height: $imgSize+px;
      padding: $displayImageBorder+px;
    }
  }

  .masks {

    width: 500px;
    height: 500px;
    position: absolute;
    top: 1500px;

    img, .full-view {
      width: 500px;
      height: 500px;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .full-view {

      .mask1 {
        position: absolute;
        border-left: 252px solid black;
        border-right: 252px solid transparent;
        border-bottom: 252px solid black;
        border-top: 252px solid transparent;
      }

      .mask2 {
        position: absolute;
        border-left: 125px solid transparent;
        border-right: 125px solid black;
        border-bottom: 125px solid transparent;
        border-top: 125px solid black;
      }

      .mask3 {
        position: absolute;
        bottom: 0;
        right: 0;
        border-right: 252px solid black;
        border-left: 252px solid transparent;
        border-bottom: 252px solid black;
        border-top: 252px solid transparent;
      }
    }
  }

  .kaleiscope {
    width: 500px;
    height: 500px;
    margin-bottom: 1000px;

    .img-canvas {
      width: 500px;
      height: 500px;
      position: relative;

      canvas {
        position: absolute;
        top: 0;
        left: 240px;
        border-top-right-radius: 100%;
        backface-visibility: visible;

      }

      canvas:first-child {
        transform: translate(5px, 5px);
        -webkit-transform: translate(5px, 5px);
      }
    }
  }

  .work-area {
    display: none;

    .canvas-elem {
      canvas {
        border-radius: 100%;
      }
    }
  }

  .content-box {
    border-radius: 5px;
    top: 30px;
    padding: 25px 40px;
  }
}
