@import "colors";
@import "fonts";
@import "mixins";

body {
  background-color: black;
  color: $dimYellow;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;

  .contents {
    width: 800px;
    height: 1000px;
    margin: 25px auto;
  }

  .kaleiscope {

    .full-view {
      width: 500px;
      height: 500px;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      background-image: url('/images/marlyn.jpg');
      background-repeat: no-repeat;

      .mask1 {
        position: absolute;
        border-left: 252px solid black;
        border-right: 252px solid transparent;
        border-bottom: 252px solid black;
        border-top: 252px solid transparent;
      }

      .mask2 {
        position: absolute;
        border-left: 125px solid transparent;
        border-right: 125px solid black;
        border-bottom: 125px solid transparent;
        border-top: 125px solid black;
      }

      .mask3 {
        position: absolute;
        bottom: 0;
        right: 0;
        border-right: 252px solid black;
        border-left: 252px solid transparent;
        border-bottom: 252px solid black;
        border-top: 252px solid transparent;
      }
    }

    .img-canvas {
      canvas {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .work-area {
    display: none;
  }

  .content-box {
    border-radius: 5px;
    top: 30px;
    padding: 25px 40px;
  }
}