.ft-32 {
  font-size: 32px;
}

.ft-20 {
  font-size: 20px;
}

.ft-light {
  font-family: "Helvetica Neue Light";
}

.ft-thin {
  font-weight: 200;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

#rotate-45 {
  -webkit-transform: translate(-50%) rotate(45deg);
  -ms-transform: translate(-50%) rotate(45deg);
  transform: translate(-50%) rotate(45deg);
}

#rotate-90 {
  -webkit-transform: translate(-50%) rotate(90deg);
  -ms-transform: translate(-50%) rotate(90deg);
  transform: translate(-50%) rotate(90deg);
}

#rotate-135 {
  -webkit-transform: translate(-50%) rotate(135deg);
  -ms-transform: translate(-50%) rotate(135deg);
  transform: translate(-50%) rotate(135deg);
}

#rotate-180 {
  -webkit-transform: translate(-50%) rotate(180deg);
  -ms-transform: translate(-50%) rotate(180deg);
  transform: translate(-50%) rotate(180deg);
}

#rotate-225 {
  -webkit-transform: translate(-50%) rotate(225deg);
  -ms-transform: translate(-50%) rotate(225deg);
  transform: translate(-50%) rotate(225deg);
}

#rotate-270 {
  -webkit-transform: translate(-50%) rotate(270deg);
  -ms-transform: translate(-50%) rotate(270deg);
  transform: translate(-50%) rotate(270deg);
}

#rotate-315 {
  -webkit-transform: translate(-50%) rotate(315deg);
  -ms-transform: translate(-50%) rotate(315deg);
  transform: translate(-50%) rotate(315deg);
}

#rotate-360 {
  -webkit-transform: translate(-50%) rotate(360deg);
  -ms-transform: translate(-50%) rotate(360deg);
  transform: translate(-50%) rotate(360deg);
}

body {
  background-color: black;
  color: #fff3be;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}
body .contents {
  width: 800px;
  height: 1000px;
  margin: 25px auto;
}
body .kaleiscope .full-view {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("/images/lotus.jpg");
  background-repeat: no-repeat;
}
body .kaleiscope .full-view .mask1 {
  position: absolute;
  border-left: 252px solid black;
  border-right: 252px solid transparent;
  border-bottom: 252px solid black;
  border-top: 252px solid transparent;
}
body .kaleiscope .full-view .mask2 {
  position: absolute;
  border-left: 125px solid transparent;
  border-right: 125px solid black;
  border-bottom: 125px solid transparent;
  border-top: 125px solid black;
}
body .kaleiscope .full-view .mask3 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-right: 252px solid black;
  border-left: 252px solid transparent;
  border-bottom: 252px solid black;
  border-top: 252px solid transparent;
}
body .kaleiscope .img-canvas canvas {
  position: absolute;
  top: 10;
  left: 10;
}
body .work-area {
  display: none;
}
body .content-box {
  border-radius: 5px;
  top: 30px;
  padding: 25px 40px;
}
