$imgAnimDuration: 3s;

.zoomTiltFade {
  animation: zoomTiltAndFade $imgAnimDuration;
}

.tiltFade {
  animation: tiltAndFade $imgAnimDuration;
}

@keyframes tiltAndFade {
  0%   {
    transform: rotate(0deg);
    border-radius: 0;
    opacity: 1;
  }

  40% {
    filter: blur(0px);
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 1;
    border-radius: 0;
  }

  70% {
    opacity: 1;
    border-radius: 100%;
    transform: rotate(0deg);
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.3;
    border-radius: 100%;
    transform: rotate(360deg);
  }
}


@keyframes zoomTiltAndFade {
  0%   {
    border-radius: 0;
    opacity: 1;
    transform: scale(1, 1);
  }

  10% {
    transform: scale(1.1, 1.1);
  }

  20% {
    transform: rotate(2deg) scale(1.1, 1.1);
  }

  30% {
    transform: rotate(-2deg) scale(1.1, 1.1);
  }

  40% {
    transform: scale(1.1, 1.1);
  }

  50% {
    opacity: 1;
    transform: scale(1,1);
  }

  55% {
    opacity: 1;
    border-radius: 0;
  }

  70% {
    border-radius: 100%;
    opacity: 1;
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.3;
    border-radius: 100%;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity:1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  animation: fadeIn 2s ease-in;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@for $i from 1 through 360 {
  .rot-#{$i} {
    transform: rotate($i+deg);
  }
}

#rotate-45 {
  transform: translate(-50%) rotate(45deg);
}

#rotate-90 {
  transform: translate(-50%) rotate(90deg);
}

#rotate-135 {
  transform: translate(-50%) rotate(135deg);
}

#rotate-180 {
  transform: translate(-50%) rotate(180deg);
}

#rotate-225 {
  transform: translate(-50%) rotate(225deg);
}

#rotate-270 {
  transform: translate(-50%) rotate(270deg);
}

#rotate-315 {
  transform: translate(-50%) rotate(315deg);
}

#rotate-360 {
  transform: translate(-50%) rotate(360deg);
}


.opac-60 {
  opacity: 0.6;
}
